/*THIS CSS FILE IS FOR SMALL DEVICES*/
* {padding: 0; margin: 0; box-sizing: border-box;}

:root {
    --font-family-01: "Roboto";
    --font-family-02: "Open Sans";
    --font-family-03: "Montserrat";
  
    --color-01: #ffffff;
    --color-02: #000000;
    --color-03: #88ccee;
    --color-04: #d94a38;
    --color-05: #f4ede4;
    --color-06: #66a182;

    --bar-color-01: #008000;
    --bar-color-02: #FF4500;
    --bar-color-03: #FFD700;
    --bar-color-04: #00CED1;
    --bar-color-05: #FFA500;
}

/*SAME CSS VALUES FOR ALL PAGES*/
/*HEADER, TITLE AND LOGO IMG*/
header {
    display: grid;
    grid-template-columns: 44px auto 44px;
    align-items: end;
    background-color: var(--color-01);
    padding: 0.7rem;
    align-items: center;}

/*NAVIGATION TAGS*/
nav {background-color: var(--color-04); font-weight: 500;}
.logo-img {margin: 15px;}

#myButton {
    font-size: 2.4rem; /*making the hamburger button bigger*/
    margin-left: -0.7rem; /*MUDA A POSIÇÃO DO BOTÃO HAMBURGUER*/
    background: none;
    border: none;
    color: var(--color-04);
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .50rem 1vw;} /*Will be able to chage the ham button to left or right*/

#myButton::before {content: "=";}    

ul.menuLinks li a { /*Will change all the default color of my links in the nav bar*/
    display: block;
    padding: .75rem 2vw;
    color: var(--color-01);
    text-decoration: none;
    font-family: var(--font-family-03);}

li.current-menu-item a {background-color: rgb(0,0,0,0.2);} /*darker backgrouund in the current page*/
ul.menuLinks {list-style-type: none;} /*Will hide my menu for small devices. Also the list style will hide the dots for wide screen*/

/*CSS FOR OPEN HAMBURGER BUTTON*/
#myButton.open::before {content: "x";}

/*ANIMATED TRANSITION*/
nav {display: grid; grid-template-rows: 0fr; transition: grid-template-rows 0.5s ease-out;}
nav ul {overflow: hidden;}
nav.open {grid-template-rows: 1fr;}

/*BODY*/
body {font-family: var(--font-family-03);}

/*FOOTER AND SOCIALS*/
footer {
    background-color: var(--color-04); 
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    font-family: var(--font-family-03);
    font-size: 0.8rem;}

.footer-info, 
.footer-social, 
.footer-js {padding: 5px 0; /*Will reduce internal spacing*/}

.footer-social {
    display: flex;
    justify-content: center; /*Centering the icons*/
    gap: 8px;} /*Space between the icons*/

#currentYear, #lastModified, p {color: var(--color-01);}
#lastModified {font-weight: 700; color: var(--color-01);}


/********************** ADVENTURE PAGE ******************/




/********************** GALLERY PAGE ********************/
#galleryPage {background-color: var(--color-01); margin: 0; padding: 0;}
.main-image {
    width: 100%;
    max-height: 600px; /*Ajust when necessary*/
    object-fit: cover;
    display: block;
    margin: 0 auto;}

.thumbnail {display: inline-block; margin: 10px;}

.thumbnail-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10%;
    margin-top: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);}

.thumbnail-img:hover {
    transform: perspective(800px) rotateY(15deg) rotateX(15deg) scale(1.1); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);}

.thumbnail-img:hover {transform: scale(1.1);}
#main-image + p {
    text-align: center;
    color: var(--color-02);
    font-size: 1.5em; 
    margin-top: 10px;
    font-weight: bold;}

    
/********************** PLAN YOUR TRIP PAGE *************/
/*COLOR BAR (NAV AND FOOTER)*/
.color-bar-form {display: flex; height: 20px; width: 100%;}
.color-bar-footer {display: flex; height: 20px; width: 100%; margin-top: 20px;}
.color-green {background-color: var(--bar-color-01); flex: 1;} 
.color-red {background-color: var(--bar-color-02); flex: 1;}
.color-yellow {background-color: var(--bar-color-03); flex: 1;} 
.color-blue {background-color: var(--bar-color-04); flex: 1;}
.color-orange {background-color: var(--bar-color-05); flex: 1;}

/*FORM STYLE*/
#form {background-color: var(--color-05); color: var(--color-02);}

.plan-trip {
    max-width: 450px;
    margin: 50px auto;
    padding: 20px;
    background: var(--color-01);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;}

.plan-trip h1 {font-size: 1.5rem; color: var(--color-02); margin-bottom: 20px;}
form.designOne {display: flex; flex-direction: column; gap: 15px;}
form.designOne .form-group {text-align: left;}
.form-text {margin-bottom: 15px;}

form.designOne label {
    font-size: 0.95rem;
    color: #555;
    display: block;
    margin-bottom: 5px;}

form.designOne input,
form.designOne select,
form.designOne textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    transition: border-color 0.3s, background-color 0.3s;}

form.designOne input:focus,
form.designOne select:focus,
form.designOne textarea:focus {
    outline: none;
    border-color: var(--color-06);
    background-color: var(--color-01);}

form.designOne textarea {resize: vertical; min-height: 80px;}

/*SUBMIT BUTTON*/
.schedulebtn {
    padding: 12px;
    font-size: 1rem;
    color: var(--color-01);
    background-color: var(--color-06);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-transform: uppercase;
    font-weight: 500;}

.schedulebtn:hover {background-color: var(--bar-color-01); transform: translateY(-2px); font-weight: 500;}

/*****ANIMATION/TRANSITION - HERO BUTTON*****/
.schedulebtn {animation: pulse 1s infinite;}

@keyframes pulse {
    0% {
        transform: scale(1); 
    }
    50% {
        transform: scale(0.9); 
    }
    100% {
        transform: scale(1);
    }
}


/********************** THANK YOU PAGE ******************/
.thank-you-container {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: var(--color-01); }

.check-icon {
    margin: 20px;
    animation: shake .2s infinite;
    margin-right: -7px;}

@keyframes shake {
    0% {margin-left: 0;}
    25% {margin-left: 7px;}
    50% {margin-left: 0;}
    75% {margin-left: -7px;}
    100% {margin-left: 0;}
}

.thank-you-container img {width: 80px; margin-bottom: 10px;}
.ty {font-size: 24px; margin-bottom: 10px; margin-top: -5px;}
.msg {font-size: 1.3rem; line-height: 1.5; color: var(--color-02); padding-bottom: 5px;}
.social-icons {display: flex; justify-content: center; gap: 10px; margin-top: 10px;}
.social-icons img {width: 30px; height: 30px; border-radius: 50%;}
.box-tex {margin-top: 5px; color: var(--color-01);}

.buttonS {
    display: inline-block;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-02);
    background-color: var(--color-01);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 9px;}

.buttonS:hover {background-color: var(--color-02); color: var(--color-01);}
.box {background-color: var(--color-04); width: 100%; padding: 5px;}

/******************THANK YOU PAGE RESULTS******************/
#results {text-align: justify; padding: 20px; margin-left: 50px;}
a {color: var(--color-01);}

p a {color: blue;}

/*COLOR BAR (NAV AND FOOTER)*/
.color-bar-ty {display: flex; height: 40px; width: 100%;}
.color-bar-tyb {display: flex; height: 40px; width: 100%; margin-top: 20px;}
.color-green {background-color: var(--bar-color-01); flex: 1;} 
.color-red {background-color: var(--bar-color-02); flex: 1;}
.color-yellow {background-color: var(--bar-color-03); flex: 1;} 
.color-blue {background-color: var(--bar-color-04); flex: 1;}
.color-orange {background-color: var(--bar-color-05); flex: 1;}

#results p {text-align: justify; margin: 4px;}